@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background: #ddd !important;
    padding: 0 !important;
}

#content {
    margin: 0px ! important;
    width: 100% !important;
}

div#header {
    background: #ffffff !important;
    width: 100%;
    box-shadow: 0px 3px 6px #00000054;
    margin-top: 0;
}

div#header div {
    background: none;
}


#blog-title a {
    text-decoration: none !important;
    color: transparent !important;
    text-transform: capitalize !important;
    background: none;
    background-size: 100%;
}

body #header {
    margin-top: 0 !important;
}

#footer div div {
    background: transparent !important;
}

#footer div {
    background: white !important;
}

#main {
    width: 70% !important;
    background: #fff !important;
    border-radius: 7px !important;
    margin-left: 1% !important;
}

#main2 {
    background: none !important;
}

.post-title {
    border: none !important;
    border-width: 0 !important;
    font-size: 1.1rem;
}

#main3 {
    background: none !important;
    padding: 0;
}

.date-header {
    font-size: 87% !important;
    text-transform: none !important;
    letter-spacing: inherit !important;
}

.post {
    border: 0 !important;
}

#sidebar {
    width: 25% !important;
    margin-right: 2% !important;
}

#profile-container h2 {
    background: white !important;
}

#profile-container {
    background: white !important;
}

.box {
    background: white !important;
}

.box2 {
    background: white !important;
}

#b-navbar #b-navbar-logo {
    background: none !important;
}

#b-navbar {
    display: none !important;
}

.post-body {
    border: 0 !important;
    padding: 3% !important;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    background: #fffbf5;
}


.post-footer {
    display: none !important;
}


html>body a.comment-link {
    display: none !important;
}

p.post-footer {
    border: 0 !important;
}

#comments {
    margin: 1% 4% !important;
    border: 0 !important;
}

#blog-title {
    text-decoration: none !important;
    color: transparent !important;
    text-transform: capitalize !important;
    background: transparent url(https://cdn.streamxda.com/assets/streamxda.svg) no-repeat center;
    background-size: 15%;
}